
html{--fcolor : rgba(245, 12, 12, 0.884);
    --scolor : #198754;
    --fccolor : rgb(53, 36, 32);
    --sccolor : rgb(12, 90, 42);
    --dcolor : rgba(255, 255, 255, 0.897);
    --ecolor : rgb(173, 173, 173);    
     --dark : rgb(53, 36, 32);
    --green : rgb(12, 90, 42);
      --light : rgb(192, 192, 192);
      --grey : rgb(121, 121, 121);
      --black : rgb(70, 70, 70);
}


  
  *{scroll-behavior: smooth !important; text-decoration: none; margin: 0; padding: 0;}
  a{text-decoration: none; color: unset;}
  a:hover{color: unset;}
    header{
      padding: 4px 0px;
      width: 100%;
      position: relative;
      height: 45px;
      font-weight: bold;
      font-size: 15px;
      display: flex;
      z-index: 8888;
      justify-content: space-between;
      box-shadow: 3px 3px 18px rgba(0, 0, 0, 0.644);
      background: linear-gradient(to right,var(--dark),var(--green));
      margin-bottom: 2px;
    }
    .headerCont{
      border-top: 1px solid rgba(255, 255, 255, 0.459);
      border-bottom: 1px solid rgba(248, 248, 248, 0.568);
      box-shadow: 1px 1px 2px rgb(179, 179, 179);
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      width: 100%;
      /* overflow: hidden; */
    }
    .pseudo{text-transform: capitalize;}
    .role{text-transform: capitalize;}
    .navimg{
     display: flex;
     justify-content: space-between;
     align-items: center;
      padding: 0px; 
      margin: 0px; 
      color: white;
      height: 100%;}
  
      
    .logos{
      background-color: #ffffffe1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px; 
      margin: 0px; 
      filter: brightness(120%);
      padding-bottom: 5px;
      padding-right: 5px;
      border-radius: 0px 8px 0px 0px;
    }
  
  
  .navimg span{
    padding:0px 8px;
    font-size: 25px;
    border-right: 2px solid rgb(252, 252, 252);
  }
  
  
  
  .boxcont{
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #ffffff00;
    color: #000;
  }
  .boxcont h4{
    margin: 0px 10px;
    padding: 0px 8px;
    border-left: 2px solid rgb(252, 252, 252);
    box-shadow: 1px 1px 18px white inset;
  }
  
  .tablist{
      font-size: 33px !important;
      color: rgb(255, 255, 255);
    }
   
    li{list-style: none;}
    
    
  .dropdown-item:hover{
    background-color: #175a22 !important;
    color: white !important;
    font-weight: bold !important;
    box-sizing: border-box !important;
  }
*{margin: 0; padding: 0; box-sizing: border-box;}

#fieldset{
    border: 2px solid rgb(75, 74, 74); 
    padding: 0px 4px;margin-top: 10px; 
    width: 100%; 
    box-shadow: 2px 2px 15px rgb(116, 116, 116);}

    #fieldset legend{
    float: inherit; 
    width: inherit; 
    padding: inherit; 
    margin-bottom:inherit; 
    font-size: inherit; 
    line-height: inherit; 


    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    /* margin: 4px; */
    background-color: rgb(34, 34, 34);
    color: #dddddd;
    box-shadow: 0px 0px 4px rgba(61, 61, 61, 0.384) ;
    padding: 0px 2px;
    font-size: 15px;
    }

.loading{
    width: 50px;
    position: absolute;
    opacity: 1;
    z-index: 1111999999999999999;
    bottom: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%,-50%);

}

body{
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100vh; 
    width: 100vw;
    box-sizing: border-box;
    max-width: 1500px !important;
    max-height: 1000px !important;
    min-width: 900px !important;
    min-height: 500px !important;
}



.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    font-weight: 900;
    padding:0px 5px;}

.logo-infos{
    margin-left: 8px;
    border-left: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    height: 100%;
    width: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.consul{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: -8px;
    height: 70%;
    font-size: 20px;
    color: #fdfdfd;
    font-weight: bold;
    text-shadow: 1px 2px 2px black;
}
.datetime{
    padding-bottom: 10px;
    height: 30%;
    width: 70%;
    text-shadow: 1px 2px 2px black;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
  

.logo i{
    cursor: pointer;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;}


.search{
    border-left: 1px solid white;
    height: 70%;
    width: 40%;
    display: flex;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.login{
    text-shadow: 2px 2px 3px var(--scolor);
    z-index: 2;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;}
h1{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}


    .login i{
        font-size: 26px;
        color: #fff;
    }
.auteur{
    margin-left: 40px;
    text-transform: capitalize;
    color: white;
    text-shadow: 2px 1px 2px black;
}



#btn-logout{
    position: relative;
    background-color: var(--fcolor);
    border-radius: 3px;
    padding: 5px;
    margin-right: 4px;
    font-size: 20px;
}


.fa-power-off:hover{
    box-shadow: 2px 2px 3px var(--scolor);
}

.destroy {
    font-size: 42px;
    margin: auto;
    width: 100%;
}

.navTilte{
    height: 100%;
    z-index: 8;
    text-shadow: 2px 2px 3px black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*MENU PRINCIPAL DE LA PAGE AVEC CONNEXION*/
.side-box{
    border: 1px solid rgba(85, 85, 85, 0.829);
    transition: all 0.3s;
    transform-origin: center;
    overflow: hidden;
    display: flex;
    height: 88vh;
    flex-direction: row;
    background-color: #fff;
    backdrop-filter: blur(18px);
    justify-content:space-between ;}

.zoomer{
    transition: all 0.3s;
    height: 100vh;
    padding: 0;
}

/* ************************************************** */
.activer-left,.activer-right{
    position: relative;
        z-index: 99999;
        font-size:30px;
        text-align: center;
        cursor: pointer;
        text-shadow: 1px 2px rgb(226, 223, 223); }

        .activer-left:hover,.activer-right:hover{
           filter: brightness(115%);
        }
        .header-right,.header-left{
            cursor: pointer;
            display: flex;
            align-items: center;
            /* flex-direction: row-reverse; */
            padding: 5px;
            border-bottom: 3px solid rgb(255, 255, 255);
        }

 .aside-left{
    /* position: relative; */
    z-index: 888 !important;
    box-shadow: 2px 0px 2px var(--fccolor);
    overflow: hidden;
    padding: 0 2px;
    height:100% ;
    width: 18%;
    max-width:40px ;
    background-color: #6d6c6c48;
    transition: 0.3s all;}
    .aside-right{
        z-index: 888 !important;
        box-shadow: -2px 0px 2px var(--fccolor);
        overflow: hidden;
        padding: 0 2px;
        height:100% ;
        width: 12%;
        max-width:40px ;
        background-color: #6d6c6c48;
        transition: 0.3s all;}

        .insider-left,  .insider-right{
            margin-top: 10px;
            opacity:0 }

    .active-left{
        height:100% ;
        width: 30%;
        max-width:220px ;
        background-color: rgb(216, 214, 214);
    }
    
    
        .active-right{
            height:100% ;
            width: 25%;
            max-width:220px ;
            /* padding: 2px 5px; */
                background-color: #6d6c6c48;
        }
            
        
                .opacity {
                    opacity: 1;
                    margin-top: 10px }
                    
                        
                        
/* *******************CLASSES INDEPENDANTES*************** */
.avatars{
    margin: 10px auto;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 4px solid var(--scolor);
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;
    box-shadow: 2px 2px 4px rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar{
    margin: 10px auto;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #69696960;
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(2, 2, 2, 0.733);
    box-shadow: 0px 0px 6px var(--scolor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about{
    text-transform: uppercase;
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    margin-left: 10px;
    margin-bottom: 4px;
    border-bottom: 2px solid rgb(179, 176, 176);
}


.btn-mdp{
    transition: all 0.3s;
    background-color: var(--scolor);
    margin: auto;
    padding: 5px;
    font-size: 14px;
    max-width:  150px;
    width:  140px;
    margin-right: 10px;
    border: none;
    font-weight: bold;
color: #fff;
}


.btn-right:hover{
border-bottom:4px solid gray ;

}
/* *******************CLASSES INDEPENDANTES*************** */

.maps{
    background-color: #dbdada;
    height: 100%;
    width: 100vw;
    display: flex;
    position: relative;
    transition: all 0.4s;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center; }


    .popContainer{
        position: absolute;
        right: -200%;
        height: 100%;
        overflow-y: auto;
        width: 350px;
        background-color: #ffffff25;
        z-index: 999999999999;
        transition : all 0.5s ease;
        padding: 2px;
        border: 1px solid #797878;
        box-shadow: 1px 1px 5px rgb(119, 118, 118);
        backdrop-filter: blur(28px);

    }
    .popContent-div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
    }
    .popHeader{
        height:28px;
        text-transform: uppercase;
        background-color: #222222b4;
        z-index: 999999999999;
        display: flex;
        align-items: center;
        justify-content: space-between;
        backdrop-filter: blur(25px);
        color: white;
        font-weight: bold;
        cursor:pointer;
        padding: 5px 0px;

    }
    .popHeader .popReducer{
        font-size: 20px;
        padding: 2px;
        background-color: red;
    }
    .popHeader .miniMapper{
        font-size: 20px;
        padding-right: 8px;
    }
    .popContent{
        z-index: 999999999999;
        overflow-y: auto;
        height: 99%;
        box-shadow: 1px 1px 5px rgb(119, 118, 118);
    }
  
    .poptab th, td,tr{
        padding: 2px 3px !important;
        overflow: auto;
        border: 1px solid rgb(112, 112, 112);
    }
    .poptab{
        margin-bottom: 1px !important;
    }
  

 



    

    .photoManer{
        border: 1px solid #a0a0a0;   
        box-shadow: 1px 1px 8px grey;
        padding: 4px;
    }
    .thumbnail-container {
        position: relative;
        width: 95%;
        height: 180px;
        margin: 0px auto;
        margin-top: 5px;
        margin-bottom: 10px;
        /* border: 1px solid #adadad; */
        overflow: hidden;
        cursor: pointer;
        border-radius: 5px;
        transition: transform 0.3s;
        box-shadow: 1px 1px 8px grey;
        z-index: 888;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        
    }


    .thumbnail-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .zoom-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(59, 59, 59);
        font-size: 30px;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
    }

    .thumbnail-container:hover .zoom-icon {
        opacity: 1;
    }



    .popContentImg{
        position:fixed;
        width: 100vw;
        height: 100vh;
        background-color: #00000079;
        backdrop-filter: blur(2px);
        display: flex;
        display: none;
        align-items: center;
        justify-content: center;
    

    }
    /* Grand plan de l'image */
    #imageModal {
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(236, 236, 236, 0.11);
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(50px);
    }

    #imageModal img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
    }

    /* Bouton pour fermer */
    #imageModal .close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 40px;
        width:40px;
        height: 40px;;
        cursor: pointer;
        border-radius: 2px;
        color: rgb(255, 255, 255);
        background-color: #f50202;
    }
    .collapsible.active .content {
        display: block;
    }

    .collapsible h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #c4c4c4;
        text-align: center;
        padding: 2px;
        padding-right: 20%;
        font-size: 17px;
        background-color: #222222b4;
        cursor: pointer;
        color: #ffffff;
        font-weight: bold;
        box-shadow: 1px 1px 4px grey;
        position: relative;
    }
    .collapsible h3:hover{
        background-color: var(--sccolor);
        transition: all 0.2s;
    }
    .collapsible h3.actived{
        background-color: var(--sccolor);
        transition: all 0.2s;
    }
      
    .collapsible h3 .galIcon{
        position: absolute;
        right: 8px;

    }
    .collapsible h3.actived .galIcon {
        transform: rotate(180deg);
        transition: all 0.3s;
    }
    .collapsible h3 i{
        font-size: 20px;
    }

    .collapsible .content {
        margin-top: 10px;
        display: none;
        overflow: hidden;
    }





    #mini-map {
        height: 200px;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 4px black;
        z-index: 88;
        position : relative;
    }
    .mini-closer{
        position : absolute;
        top: 5px;
        right: 2px;
        background-color: red;
        color: white;
        padding: 2px;
        z-index: 9999;
        cursor:pointer;
    }

#map{ 
    margin-left: 10px;
    height: 100% ;
    width: 100%;
    margin: auto;
    }
.mapBGicon{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.1;
}
    .fa-xmark{
        font-size: 25px;
        background-color: #fff;
        padding: 2px;
        border-radius: 2px;
        margin-left: 5px;
        margin-bottom: 10px;
        top:0%; }

    .lon, .lat{
        text-align: end;
        color: rgb(61, 61, 61);
        margin: 0;
        padding: 0;
        z-index: 8000;
        height: 100%;
        width: 31px;
        overflow: hidden;}
        .lat{ width: 36px;}
        
.off{
    display: none !important;
    opacity: 0 !important;
}
/************************FOOTER***********************/
.footer{
    margin-top: 1px;
    width: 100%;
    display: flex;
    align-items: center; /*A corriger*/
    /* justify-content: space-between; */
    height: 35px;
    max-height: 40px;
    background: linear-gradient(to right,var(--fccolor),var(--sccolor));
}
.footer .footCont{
    padding-top: 2px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    /* padding-right: 30px; */
}
.footer .copyright{
    color: white;
    font-family: monospace;
    font-style:italic;
    font-size: 12px;
    align-self: self-end;
}
.footer-elements{
    height: 100%;
    z-index: 8;
    text-shadow: 2px 2px 3px black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navActions{
    margin-right: 4px;
    height: 100%;
    width: 212px;
    display: flex;
    align-items: center;
    justify-content: space-between; color: #e6e6e6;
    /* border: 2px solid rgba(255, 255, 255, 0.226); */
    overflow: hidden;
    position: relative;
  }
  .navbarItem{
    width: 45px;
    height: 25px;
    border: 1px solid white;
    color: #fff;
    font-weight: bold;
    position: relative;
    /* border-radius: 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 4px black;
  }
  .navbarItem:nth-child(3){background-color:rgb(21, 115, 71);}
  .navbarItem:nth-child(2){background-color: #929292;}
  .navbarItem:nth-child(1){background-color: #be2015;}
  
  .navActions::before{
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: #b4b4b4;
  
  }
  
/************************FOOTER***********************/

















/* --------------------LEAFLET STYLES---------------------- */
.dieyer{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.oppo{
    position: absolute !important;
    height: 95vh !important;
    width: 800px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
    margin: auto !important;
    z-index: 88888888889999988888;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.toto{
    /* position: absolute; */

    width: 80px;
    color: #fff;
    font-weight: bold;
    /* background-color: rgb(21, 115, 71); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cada{

    width: 40px !important;
}

.cadas{
    width: 80px !important;
    position: relative;
}

.leaflet-popup-content-wrapper{
    overflow: auto !important;
    border-radius: 0px !important;
    padding: 8px !important;
    max-height: 450px !important;
    border: 2px solid rgb(94, 94, 94) !important;
}

.leaflet-popup-content{
    overflow: auto !important;
    border-radius: 0px !important;
    margin: 7px !important;
}

.popcontainer{
    overflow: auto;
    background-color: #ffffff1a;
    padding: 10px;
    width: 100%;
    box-shadow: 1px 1px 4px rgb(190, 190, 190);
}

.popcontainer h4{
    text-transform: uppercase;
    background-color: #20202241;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid green;
    border-top: 2px solid green;
    text-align: center;
    font-size: 18px !important;
    width: 100%;
    overflow: auto;
    width: 300px;
}
.popdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 2px grey;
    overflow: auto;
}
.popdiv h5{
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    padding: 0px 6px;
}
.popdiv i{
    color: blue;
    box-shadow: 2px 2px 4px inset rgb(194, 194, 194);
    height: 100%;
    width: 150px !important;
    padding: 0px 6px;
    /* overflow: auto; */
}

.leaflet-control-scale-line {
    border-top: 1px solid rgba(13, 13, 14, 0) !important;
    border-bottom: 1px solid rgba(76, 76, 77, 0.7) !important;
    border-right: 1px solid rgba(103, 103, 104, 0.7) !important;
    border-left: 1px solid rgba(118, 118, 119, 0.7) !important;
    width: calc(74px) !important;
    padding: 2px 0px !important;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.438) !important;
    display: flex;
    justify-content: center;
    align-items: center !important;
    position: absolute;
    bottom: -23px !important;
    right: 75px !important;
}

.leaflet-control-attribution {
    margin-right: 10px !important;
    border: 1px solid grey !important;
    border-top: 0px solid grey !important;
}
.noteBtns{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: #d1d1d1 1.5px solid;
    border-radius: 4px;
    
}

.noteBtns button{
    border: 1px solid rgb(194, 194, 194);
    font-size: 17px;
    padding: 3px 6px;
    background-color: #fff;
    color: #3a3a3a;
}
/* .noteForm{
    width: 90%;
    height: 99%;
    box-shadow: 1px 1px 2px black;
    } */
    .noteForm > *{
    box-shadow: 1px 1px 4px rgb(172, 172, 172);
padding: 5px;
}
.noteForm input{
    width: 70px;
    border: 1px solid white;
}
/* --------------------LEAFLET STYLES---------------------- */
.iden{
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 4px;
    height: 25px;
    padding: 0px 8px;
    box-sizing: border-box;
}

.headimg{
    /* background-color: #fff; */
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.headpop{
    width: 90%;
    margin: auto;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
    border: 1px solid  rgb(78, 78, 78,0.3);
}

.iden_fausse{
    background-color: rgba(0, 128, 0, 0.63) !important;
}
.iden_positive{
    background-color: rgba(255, 0, 0, 0.603) !important    ;
}

.fil_head{
    background-color: #f1f1f100;
    display: flex;
    align-items: center;
    justify-content: center;
    width:80%;
    /* height: 30px; */
    color: black;
    text-transform: uppercase;
    font-size : 18px;
    font-weight:700;
    text-align: center;}


.resulteur{
    /* border-top: 3px solid rgb(95, 95, 95); */
    text-align: center;
    margin-top: 7px;
    height: 500px;
    width: 98%;
    display: flex;
    padding: 0px 2px;
    flex-direction: column;
    overflow: auto; 
    box-sizing: border-box;
    scroll-behavior: smooth;

}
.resulteur::-webkit-scrollbar{
    background-color: rgb(2, 141, 25);
    width: 0px;
}

.cont{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 20px;
    color: #fff;
    font-weight: bold;
    background-color: rgb(21, 115, 71);
    display: flex;
    align-items: center;
    justify-content: center;
}



.iden{
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 4px;
    height: 25px;
    padding: 0px 8px;
    box-sizing: border-box;
}

#activor{
cursor: pointer;
color : blue;
    }


#photolab{
    position: absolute !important;
    width: 100% !important;
    height:100% !important;
    margin: auto !important;
    color: rgb(0, 0, 0);
    z-index: 788888888888888;
    background:none;
    display: flex;
    align-items: center;justify-content: center;
}


.photogal{
    position: relative !important;
    width: 500px !important;
    height:200px !important;
    border: 1px solid rgba(0, 0, 0, 0.178);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 788888888888888;
    flex-direction: column;
    background-color: rgba(236, 235, 235, 0.13);
    transition: all 0.4s;
    border-radius:5px;
    padding : 0px 5px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.headimg{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#photoins{
    width: 500px !important;
    height:200px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(236, 235, 235, 0.13);
    transition: all 0.4s;
    padding : 0px 5px;
}

.mager{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    border-radius:5px;
    box-shadow: 4px 4px 6px grey;
    transition: all 0.4s;
    height: 60%;
    width: 15%;
    border : 1px solid rgba(0, 0, 0, 0.411)
}


.mager:nth-child(1)::after{
    position: absolute;
    transition: all 0.3s;
    content: "GPS";
    font-size: 18px;
    color: black !important;
    opacity: 1;
    background-color: #ffffff94;
    padding: 1px 2px;
    border-radius: 4px;
    text-align: center;
    opacity: 0;
    z-index: 4;
}
.mager:nth-child(1):hover.mager:nth-child(1)::after{
    opacity: 1;
}

.mager:nth-child(2)::after{
    position: absolute;
    transition: all 0.3s;
    content: "NORD";
    font-size: 18px;
    color: black !important;
    opacity: 1;
    background-color: #ffffff94;
    padding: 1px 2px;
    border-radius: 4px;
    text-align: center;
    opacity: 0;
    z-index: 4;
}
.mager:nth-child(2):hover.mager:nth-child(2)::after{
    opacity: 1;
}


.mager:nth-child(3)::after{
    position: absolute;
    transition: all 0.3s;
    content: "OUEST";
    font-size: 18px;
    color: black !important;
    opacity: 1;
    background-color: #ffffff94;
    padding: 1px 2px;
    border-radius: 4px;
    text-align: center;
    opacity: 0;
    z-index: 4;
}
.mager:nth-child(3):hover.mager:nth-child(3)::after{
    opacity: 1;
}

.mager:nth-child(4)::after{
    position: absolute;
    transition: all 0.3s;
    content: "SUD";
    font-size: 18px;
    color: black !important;
    opacity: 1;
    background-color: #ffffff94;
    padding: 1px 2px;
    border-radius: 4px;
    text-align: center;
    opacity: 0;
    z-index: 4;
}
.mager:nth-child(4):hover.mager:nth-child(4)::after{
    opacity: 1;
}



.mager:nth-child(5)::after{
    position: absolute;
    transition: all 0.3s;
    content: "EST";
    font-size: 18px;
    color: black !important;
    opacity: 1;
    background-color: #ffffff94;
    padding: 1px 2px;
    border-radius: 4px;
    text-align: center;
    opacity: 0;
    z-index: 4;
}
.mager:nth-child(5):hover.mager:nth-child(5)::after{
    opacity: 1;
}


.easy-button-button {
    display: block !important;
  }
  
  .tag-filter-tags-container {
    left: 30px;
  }


  .barrepro{
    border: 1px solid rgb(148, 148, 148);
    width: 100%;
    height: 22px;
    background-color: rgb(219, 219, 219);
    position: relative;
    box-shadow: 2px 2px 2px white;
}
.prog{
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    box-shadow: 2px 1px 4px rgb(39, 39, 39);
}
.btn-download{
    position: absolute; top: 4px; right: 5px;
}

.percevalue{
    position: absolute;
    right: -50%;
    color: rgb(245, 245, 245);
    font-weight: bold;
    font-size: 12px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    background-color: #ffffff00;
}

.statbox{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    margin: 15px 0px;
    box-shadow: 2px 2px 2px white;
    background-color: #fff;
    padding-left:2px;
}
.statbox hr{
    background-color: #fff;
    height: 3px;
}

.toturg1{background-color: rgb(253, 163, 163);}
.toturg2{background-color: rgb(253, 114, 114);}
.toturg3{background-color: rgb(247, 48, 48);}
.toturg4{background-color: rgb(255, 2, 2);}



#filterForm{
    box-shadow: 1px 1px 4px rgb(56, 56, 56);
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 350px;
    transition : all 0.4s
  }
#filterForm select{
  outline: none;  
  background-color: #e6e6e6;
  padding: 4px;
  border-radius: 4px !important;
  box-shadow: 1px 1px 2px grey;
  border-left: 2px solid green;
}
#filterForm select:focus{
  border-bottom: 2px solid rgb(12, 134, 1);
  background-color: #ffffff;
  font-weight: bold;
}
#filterForm select:active{
  border-bottom: 2px solid rgb(12, 134, 1);
  background-color: #ffffff;
  font-weight: bold;
}
#filterForm select::selection{
  border-bottom: 2px solid rgb(12, 134, 1);
  background-color: #ffffff;
  font-weight: bold;
}

option{
  background-color: #fff;
  border-radius: 0px !important;
}
.primaryOptions{
  height: 60%; 
  width: 100%;
  border: 2px solid rgb(202, 202, 202);
  display: flex;
  padding: 4px;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}


.secondOptions{
  transition : all 0.4s;
  position: relative;
  padding: 5px;
  display:flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 38%;
  border: 2px solid rgb(206, 206, 206);
  background-color: #eaeaea;
  
}
.filclo{
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  padding: 0px 2px !important;
  font-weight:bold;
  cursor:pointer;
}
.inders{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  
}
.inders input{
  padding: 0px 8px;
  width: 48%;
  outline: none;
}
.inders input:focus{
  border:  none;
  border-bottom: 2px solid blue;}
.daters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top : 5px;
}
.daters input{width: 70%;}
#indexer{width: 100%;}
.barreCont{
  width: 100%;
  display:flex;
  align-items: center;
  height: 28px;
  
}

.statsView{
    background-color: #fff;
    margin-top: 8px;
    border: 1px solid rgb(170, 170, 170);
    height: 170px;
    overflow-y: auto;
}
.statsView div{
    height: 15px;
    margin-bottom: 10px;
}
.idListView{padding: 2px;}
.mapItem{padding: 1px; border: 1px solid grey;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.418); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  background-color: #dddddd;
}
.mapItem .mapids {
    padding: 1px;
    min-width: 80px;
  border-radius: 2px;
  padding: 0px 8px;
  max-width: 80px !important;
  max-height: 25px;
  overflow-y: auto;
  overflow-x: hidden;
}
.mapItem .mapids::-webkit-scrollbar{
    width: 1px;
}
.mapItemBtns{

     display: flex;
     align-items: center;

    }
.mapItemBtns span{
    min-height:10px !important ;
    padding: 2px;
}
.mapItem span i{
    padding: 4px;
  font-size: 16px;
  display: flex;text-align: center;
  align-items: center;justify-content: center;
  cursor: pointer;
}
/* .mapPos{border: 1px solid red;
 margin-bottom: 2px;}
.mapNeg{border: 1px solid green; margin-bottom: 2px;} */
.statsView::-webkit-scrollbar{
  width: 2px;
}


.leaflet-control-attribution .leaflet-control a{
    display: none !important;
    visibility: hidden;
    color: #095f0600;
}

/* .leaflet-control-coordinates{
        border-top: 1px solid rgba(13, 13, 14, 0) !important;
        border-bottom: 1px solid rgba(76, 76, 77, 0.7) !important;
        border-right: 1px solid rgba(103, 103, 104, 0.7) !important;
        border-left: 1px solid rgba(118, 118, 119, 0.7) !important;
        width: calc(134px) !important;
        height:calc(20px) !important;
        padding: 0px 0px !important;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.438) !important;
        display: flex;
        justify-content: center;
        align-items: center !important;
        position: absolute;
        position: absolute;
        bottom: -32px !important;
        right: 205px !important;
    
}

.leaflet-control-coordinates > *{
    padding: 0px 0px !important;
}
.leaflet-control-coordinates .uiElement input{
    display: flex !important;
} */